{% extends 'materialprice/base.html' %}


{% block content %}
<h1>要計算價差和漲跌幅</h1>
<!--{{ byquarter}}-->


<table>
{% regroup byquarter by designation as list01 %}

{% for x in list01 %}
{% if forloop.counter == 1 %}  
<tr>
<td rowspan='2'>牌號</td>
{% for y in x.list %}

<td>{{ y.yearnum }}  </td>


{% endfor  %}
</tr>
</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
{% if forloop.counter == 1 %}  
<tr>
<!--<td></td>-->
{% for y in x.list %}

<td>Q{{ y.quarternum }} </td>


{% endfor  %}


</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
<tr>
  
<td>{{ x.grouper }}</td>
{% for y in x.list %}

<td>{{ y.avg|stringformat:".2f" }} </td>

{% endfor  %}
<td>=D{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>
<td>=F{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td> 
<td>=E{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>  
<td>=H{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td> 
</tr>
{% endfor  %}
</table>

  <!--<tr align='center'>-->
  <!--  <td>  {{ x.designation}}</td>-->
  <!--  <td>  {{ x.yearnum}}Q{{ x.quarternum}}</td>-->
  <!--  <td>  {{ x.avg|stringformat:".2f"}}</td>-->

  <!--</tr>-->



<h1>by Quarter</h1>
<table >
<tr>
  <th> 牌號</td>
  <th> 年季度</td>
    <th> 平均單價(KG)</td>

  </tr>
{% for x in byquarter %}
  <tr align='center'>
    <td>  {{ x.designation}}</td>
    <td>  {{ x.yearnum}}Q{{ x.quarternum}}</td>
    <td>  {{ x.avg|stringformat:".2f"}}</td>

  </tr>
{% endfor %}
</table>
{% endblock %}
